.basketitem {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.basketitem__image{
    height: 100px !important;
    object-fit: contain;
    width: 100px;
    
}

.basketitem__info {
    padding-left: 20px;
}

.basketitem__info > button {
    background: #f0c14b;
    border: 1px solid;
}
.basketitem__title {
    font-size: 17px;
    font-weight: 800;
}