.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    z-index: 1;
    border-radius: 20px;
    background-color: rgba(255,255,255,.15);
    backdrop-filter: blur(10px);
}

.product:hover{
    transition: 200ms transform ease-in;
    transform: scale(1.08);
    transition-delay: 300ms;
    box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
}

.product > img {
    max-height: 200px;
    margin-bottom: 15px;
}
.product__info {
    height: 100px;

}

.product__rating {
    display: flex;
}

.product__add {
    background-color: #cd9042;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 20px;
}
.product__price {
    display: flex;
}
@media only screen and (max-width: 1000px) {
    .product:hover{
        transition: none;
        transform: none;
        transition-delay: none;
        box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    }
    .product {
        max-width: 600px;
        width: 80%;
    }
  }